---
import { Button } from "@/components/ui/button"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="JibbyEats">
	<div class="container">
		<div class="py-4"></div>
		<h1>INDEX PAGE STUFF</h1>
		<Button>Hello World</Button>
	</div>
</Layout>