---
import { SheetMobileMenu } from "@/components/SheetMobileMenu";
---

<div class="border-b-2 border-b-orange-500 py-12">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/">LOGO</a>
    <div class="md:hidden">
      <SheetMobileMenu client:load />
    </div>
  </div>
</div>
